[Unit]
Description=Timer for system theme rotation

[Timer]
# 开机2分钟后执行一次；之后每 10 分钟轮换一次；按需修改时间
#OnBootSec=1min
OnUnitActiveSec=30min
Unit=theme-rotate.service

[Install]
WantedBy=timers.target

