// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// === Gestures Configuration ===
// Check the wiki for a full description of the configuration:
// https://github.com/niri-wm/niri/wiki/Gestures
gestures {
    // 左右平铺视图滚动，增加触发区域和最大速度。
    dnd-edge-view-scroll {
        trigger-width 100
        max-speed 3000
    }
    // 上下工作区滚动，增加触发区域和最大速度。
    dnd-edge-workspace-switch {
        trigger-height 100
        max-speed 3000
    }

    hot-corners {
        //on
        top-left
        top-right
    }
}

// === Input Configuration ===
// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            // For example:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        tap
        dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
}

// === Output Configuration ===
// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// Outputs from existing configuration
/-output "eDP-2" {
    mode "2560x1600@60.002"
    position x=2560 y=0
    variable-refresh-rate
}

// === Miscellaneous ===
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    xcursor-size 30

    // Auto‑hide cursor after 60 seconds of inactivity
    hide-after-inactive-ms 60000
}

config-notification {
    disable-failed
}


debug {
    honor-xdg-activation-with-invalid-serial
    // Thinkpad P14s 的T500独显没有接入内置屏幕，只能算是离线渲染设备（render-only）,
    // 没有输出头(connector)
    //render-drm-device "/dev/dri/renderD129"
}

environment {
  XDG_CURRENT_DESKTOP "niri"
  GTK_IM_MODULE
  QT_IM_MODULE "fcitx"
  XMODIFIERS "@im=fcitx"
  INPUT_METHOD "fcitx"
  FCITX5_USE_WAYLAND "1"
  MOZ_ENABLE_WAYLAND "1"
}

hotkey-overlay {
    skip-at-startup
}

overview {
    backdrop-color "transparent"
    workspace-shadow {
        off
    }
}
