// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// === Rules Section ===
layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^dock$"
    background-effect{
        blur false
    }
}
