* {
    all: unset;
    font-family: "JetBrains Mono";
    font-size: 14px;
}

window {
    margin: 0px;
    border: 2px solid #3b4261;
    border-radius: 12px;
    background-color: rgba(24, 27, 42, 0.92);
    color: #c6d0f5;
}

#input {
    margin: 12px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #414868;
    background-color: #24273a;
    color: #cad3f5;
}

#inner-box {
    margin: 0 12px 12px 12px;
}

#outer-box {
    padding: 4px;
}

#scroll {
    margin: 0px;
}

#text {
    padding: 6px 8px;
}

#entry {
    border-radius: 6px;
    padding: 2px;
}

#entry:selected {
    background-color: #5b6078;
}

#img {
    padding: 4px;
}

/* 解决子菜单箭头不显示问题 */
expander {
    /* 手动恢复子菜单箭头 */
    color:#c6d0f5;
}
expander arrow {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    -gtk-icon-transform: scale(1.6);
}
/* 未生效：点击箭头后子选项展开，但箭头依然原样，没有转头向下 */
/* expander:checked arrow {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    -gtk-icon-transform: scale(1.6);
} */
