// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// === Include Common Files
include "common/basic.kdl"
include "common/colors.kdl"
include "common/layout.kdl"
include "common/alttab.kdl"
include "common/binds.kdl"
include "common/outputs.kdl"
include "common/cursor.kdl"
include "common/windowrules.kdl"

// === Rules Section ===
layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

// === Binds Section ===
// Core DIY binds
binds {
    // === System & Overview ===
    Mod+F12 {
        spawn-sh "/home/swq/.config/waybar/scripts/toggle_waybar.sh topbar"
    }

    Mod+F11 {
        spawn-sh "/home/swq/.config/waybar/scripts/toggle_waybar.sh dock"
    }
    
    // === Application Launchers ===
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "wofi" "--show" "drun"; }

    Mod+V hotkey-overlay-title="Clipboard History" {
        spawn "sh" "-c" "cliphist list | wofi --dmenu 2>/dev/null | cliphist decode | wl-copy";
    }
    /-Mod+V hotkey-overlay-title="Clipboard Manager" {
        spawn "dms" "ipc" "call" "clipboard" "toggle";
    }
    /-Mod+M hotkey-overlay-title="Music Player" {
        spawn-sh "kitty --single-instance --session /home/swq/.config/kitty/sessions/music-player.session"
    }
    /-Mod+M hotkey-overlay-title="Task Manager" {
        spawn "dms" "ipc" "call" "processlist" "focusOrToggle";
    }

    Super+X hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+Comma hotkey-overlay-title="Settings" {
        spawn "dms" "ipc" "call" "settings" "focusOrToggle";
    }
    Mod+Y hotkey-overlay-title="Browse Wallpapers" {
        spawn "dms" "ipc" "call" "dankdash" "wallpaper";
    }
    Mod+N hotkey-overlay-title="Notification Center" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Mod+Shift+N hotkey-overlay-title="Notepad" { spawn "dms" "ipc" "call" "notepad" "toggle"; }

    // === Security ===
    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn "dms" "ipc" "call" "lock" "lock";
    }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete hotkey-overlay-title="Task Manager" {
        //spawn "dms" "ipc" "call" "processlist" "focusOrToggle";
        spawn "wlogout"
    }

    // === Audio Controls ===
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "increment" "3";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "3";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "micmute";
    }
    XF86AudioPause allow-when-locked=true {
        spawn "dms" "ipc" "call" "mpris" "playPause";
    }
    XF86AudioPlay allow-when-locked=true {
        spawn "dms" "ipc" "call" "mpris" "playPause";
    }
    XF86AudioPrev allow-when-locked=true {
        spawn "dms" "ipc" "call" "mpris" "previous";
    }
    XF86AudioNext allow-when-locked=true {
        spawn "dms" "ipc" "call" "mpris" "next";
    }
    Ctrl+XF86AudioRaiseVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "mpris" "increment" "3";
    }
    Ctrl+XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "mpris" "decrement" "3";
    }

    // === Brightness Controls ===
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "5" "";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "5" "";
    }
}

// === Startup Section ===
spawn-at-startup "mako"
spawn-at-startup "fcitx5"
spawn-at-startup "awww-daemon"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "waybar" "-b" "topbar" "-c" "/home/swq/.config/waybar/topbar.jsonc"
