// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// Include Common Files
include "common/basic.kdl"
include "common/colors.kdl"
include "common/layout.kdl"
include "common/alttab.kdl"
include "common/binds.kdl"
include "common/outputs.kdl"
include "common/cursor.kdl"
include "common/windowrules.kdl"

// === Rules Section ===
layer-rule {
    match namespace="^noctalia-wallpaper$"
    place-within-backdrop true
}

// === Binds Section ===
// Core Noctalia binds
binds {
    Mod+Space { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Comma { spawn-sh "noctalia msg settings-toggle"; }
    Alt+Tab { spawn-sh "noctalia msg window-switcher"; }
    // Niri has a built-in window switcher you might want to try it to see which one you prefer.

    // Audio & Brightness
    XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
    XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }
}

// === Startup Section ===
spawn-at-startup "fcitx5"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "noctalia"