// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// === Include Common Files
include "common/basic.kdl"
include "common/colors.kdl"
include "common/layout.kdl"
include "common/alttab.kdl"
include "common/binds.kdl"
include "common/outputs.kdl"
include "common/cursor.kdl"
include "common/windowrules.kdl"
include "common/animations.kdl"

// === Rules Section ===
layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

// === Binds Section ===
// Core DIY binds
binds {
    // === System & Overview ===
    Mod+F12 {
        spawn-sh "/home/swq/.config/waybar/scripts/toggle_waybar.sh topbar";
    }

    Mod+F11 {
        spawn-sh "/home/swq/.config/waybar/scripts/toggle_waybar.sh dock";
    }

    Mod+Shift+W hotkey-overlay-title="Rotate Wallpaper" {
        spawn-sh "systemctl --user start awww-rotate";
    }

    Super+X hotkey-overlay-title="Power Menu: Toggle" { spawn "wlogout"; }
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "wofi" "--show" "drun"; }

    // === Application Launchers ===
    Mod+V hotkey-overlay-title="Clipboard History" {
        spawn-sh "cliphist list | wofi --dmenu 2>/dev/null | cliphist decode | wl-copy";
    }

    Mod+Y hotkey-overlay-title="Browse Wallpapers" {
        spawn "nautilus" "/home/swq/Pictures/Wallpapers";
    }

    // === Security ===
    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn "dms" "ipc" "call" "lock" "lock";
    }

    // === Audio Controls ===
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "--limit" "1.2" "@DEFAULT_AUDIO_SINK@" "5%+";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "--limit" "1.2" "@DEFAULT_AUDIO_SINK@" "5%-";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle";
    }
    // XF86AudioPause allow-when-locked=true {
    //     spawn "dms" "ipc" "call" "mpris" "playPause";
    // }
    // XF86AudioPlay allow-when-locked=true {
    //     spawn "dms" "ipc" "call" "mpris" "playPause";
    // }
    // XF86AudioPrev allow-when-locked=true {
    //     spawn "dms" "ipc" "call" "mpris" "previous";
    // }
    // XF86AudioNext allow-when-locked=true {
    //     spawn "dms" "ipc" "call" "mpris" "next";
    // }
    // Ctrl+XF86AudioRaiseVolume allow-when-locked=true {
    //     spawn "dms" "ipc" "call" "mpris" "increment" "3";
    // }
    // Ctrl+XF86AudioLowerVolume allow-when-locked=true {
    //     spawn "dms" "ipc" "call" "mpris" "decrement" "3";
    // }

    // === Brightness Controls ===
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "brightnessctl" "set" "+5%";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "brightnessctl" "set" "5%-";
    }
}

// === Startup Section ===
spawn-at-startup "mako"
spawn-at-startup "fcitx5"
spawn-at-startup "awww-daemon"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "waybar" "-b" "topbar" "-c" "/home/swq/.config/waybar/topbar.jsonc"
